/*Custom CSS*/
:root {
  font-size: 18px;
  line-height: 1.5 em;
  font-family: 'Comfortaa', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../assets/img/trinityBackgroundWhite.png);
}

html,
body {
  margin: 0;
}

// TODO: Figure out if we need this in all of our articles...
article {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1,
h2,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 1rem;
  border-radius: 15px 15px 0px 0px;
  font-size: 26px;
}

h2 {
  margin: 0;
  height: 1rem;
  padding: 1rem;
  color: #fff;
  line-height: 1rem;
  display: block;
  text-align: center;
}

input {
  height: 1.5rem;
  border-radius: 10px;
}

.bold {
  font-size: 1.1em;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  text-shadow: 1px 1px rgb(198, 240, 226);
}

.hidden {
  display: none;
}
