:root {
  // Site Palette
  --mint: rgba(90, 187, 158, 0.85);
  --mint-text: rgba(90, 187, 158, 0.95);
  --light-mint: #c8f3e9;
  --off-white: #f0f8f6;
  --dark-mint: rgba(65, 150, 124, 1);
  --off-black: #272727;
  --shadow: rgba(0, 0, 0, 0.12);

  // Auras Palette
  --romantic: #ff4949;
  --trendy: #228b22;
  --casual: #f38120;
  --classy: black;
  --touristy: pink;
  --imaginative: #02dbff;
  --lively: #f268ff;
  --intimate: #f32284;
  --exotic: #61c448;
  --groovy: #e5e249;
  --inspired: #89e87c;
  --upscale: #ea9409;
  --hipster: #7697b8;
  --cheerful: #f1bc50;
  --peaceful: #c4efff;
  --powerful: #bc1414;
  // Activities Pallete
  --eating: #da3b26;
  --drinking: #c049e5;
  --dating: #49e5d6;
  --studying: #e5da49;
  --relaxing: #90c4fc;
  --exercising: #1fa018;
  --gaming: #f28324;
  --leisure: #41eb82;
  --pleasure: #bf0707;
  --hobbies: #5e59c1;
}
